<nav class="nav">
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" ariaCurrentWhenActive="page">Home</a>
  <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
  <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
  <a routerLink="/modals" routerLinkActive="active" ariaCurrentWhenActive="page">Modals</a>
  <a routerLink="/cart" routerLinkActive="active" ariaCurrentWhenActive="page">
    <span class="flex">
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAACXBIWXMAAAsTAAALEwEAmpwYAAABDUlEQVR4nL3Vr0sEQRQA4NXgFbGYDCY9BJNVtGs2mhTlTDYv+ydc8A8QQdSm1wUVrCImm3IWTQaLcOWTgQ3LodzO7K0PXpiBmQ/emx9Z9h+BO/QL+YVrzI8SucVNYTyBfdyPDPktMI5XNLM6A8fYqRvZxkndyBx6tSIh8r4cop2Yw8sdyjVwvPuR+VQG2a2IHJRBmhWAb8wMRXKol4h0SwE5cpqIbMQgrQTgA40YZCEB6ZQGKvRlKQU5iwAeo4Ec2YtAWqnIIp6TFkcgY3jDbN1QB0eYrBOZxkOJnrxH3ZE/nv5lrBR7hE1cYgpX2KqKBGAVL4X58IuGzQPSrYqsh83zXCvMN3CBT5wPlusH7Uppcbq/7rkAAAAASUVORK5CYII="
      />
      <span>
        <sup>{{ cartService.getCartItemCount() }}</sup>
      </span>
    </span>
  </a>
</nav>
